/* AdminDashboard.css */

body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.admin-dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.admin-dashboard-nav {
    display: flex;
    justify-content: space-between;
    /* make the vertical alignment centered*/
    align-items: center;
    padding: 1rem 2rem;
    background-color: #343a40;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 5vh;
    height: 60px; /* Adjust this value if your navbar has a different height */
}

.admin-dashboard-nav h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

.admin-dashboard-nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.admin-dashboard-nav a:hover {
    background-color: #495057;
    border-radius: 4px;
}

.admin-dashboard-nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.admin-dashboard-nav button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-dashboard-nav button:hover {
    background-color: #c82333;
}

.container {
    flex-grow: 1;
    overflow: hidden; /* Prevents scrolling on the container level */
    /* padding: 2rem; */
}

.container h2 {
    font-size: 2rem;
    color: #343a40;
}

.container p {
    font-size: 1rem;
    color: #6c757d;
}
