.view-appointments-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

h2 {
  color: #003c1c;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.appointments-list {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.appointment-item:last-child {
  border-bottom: none;
}

.appointment-details {
  display: flex;
  flex-direction: column;
}

.patient-name {
  font-weight: bold;
  font-size: 1.1rem;
  color: #003c1c;
}

.appointment-type {
  font-size: 0.9rem;
  color: #fff;
}

.status {
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 15px;
  color:#003c1c;
}

.ongoing {
  background-color: #fff; /* Green for ongoing */
}

.pending {
  background-color: #ffc107; /* Yellow for pending */
}

.appointment-time {
  font-size: 0.9rem;
  color: #555;
}

.see-all-link {
  text-align: right;
  margin-top: 10px;
}

.see-all-link a {
  color: #003c1c;
  text-decoration: none;
  font-weight: bold;
}

.see-all-link a:hover {
  text-decoration: underline;
}

.next-patient-details {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.patient-info {
  display: flex;
  flex-direction: column;
}

.patient-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #003c1c;
}

.patient-meta {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.patient-meta span {
  font-size: 0.9rem;
  color: #555;
}

.patient-history {
  margin-top: 10px;
  color: #004d40;
}

.history-tag {
  background-color: #f0f0f0;
  color:#004d40;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.9rem;
}

.patient-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.btn.call {
  background-color: #28a745;
}

.btn.document {
  background-color: #007bff;
}

.btn.chat {
  background-color: #17a2b8;
}

.btn:hover {
  opacity: 0.8;
}

.calendar {
  grid-column: 1 / span 2;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar-placeholder {
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 1.2rem;
  border-radius: 8px;
}
